# Utkarsh Agarwal

## Research question/interests
My interest in this field  is due to my interest in the field of crypto currency. With not much experience in the field, I intend to learn more through my teammates at the same time learning the necessary data processing skills. I intend to establish a relationship between the pricing trends of two different crypto currencies through the two data sets containing historical data on the same.

In [1]:
import numpy as np
import pandas as pd

In [7]:
pd.read_csv("/Users/utkarshagarwal/DATA301/project/project-group08-project/data/processed/Bitcoin Historical Data cleaned.csv")

,Date,Price,Open,High,Low,Vol.,Change %
0,"Jul 26, 2021","38,233.20","35,392.30","39,639.90","35,236.70",161.68K,8.03%
1,"Jul 25, 2021","35,391.10","34,392.50","35,391.10","33,881.30",65.10K,4.63%
2,"Jul 24, 2021","33,824.80","33,600.50","33,955.00","33,412.90",67.14K,0.66%
3,"Jul 23, 2021","33,603.30","32,297.90","33,605.60","32,041.10",66.15K,4.04%
4,"Jul 22, 2021","32,298.90","32,131.70","32,585.40","31,729.40",64.87K,0.52%
...,...,...,...,...,...,...,...
2176,"Aug 11, 2015",269,263.3,269.9,261.4,51.36K,2.18%
2177,"Aug 10, 2015",263.3,263.9,266.6,260.5,48.57K,-0.22%
2178,"Aug 09, 2015",263.9,258.6,266.8,258.6,57.48K,2.04%
2179,"Aug 08, 2015",258.6,277.9,278.9,257.4,82.54K,-6.94%
2180,"Aug 07, 2015",277.9,278,279.6,274.3,42.81K,-0.04%

In [9]:
pd.read_csv("/Users/utkarshagarwal/DATA301/project/project-group08-project/data/processed/etherium cleaned.csv")

,Date,Close,Open,High,Low,Volume
0,26/07/21,2233.366699,2191.309814,2428.817139,2177.329590,2.961432e+10
1,25/07/21,2191.373779,2187.145508,2194.438232,2108.829834,1.456648e+10
2,24/07/21,2189.218750,2123.961182,2197.649414,2107.323486,1.605745e+10
3,23/07/21,2124.776611,2025.105713,2129.441162,2000.436279,1.620039e+10
4,22/07/21,2025.202759,1994.822876,2044.116455,1954.297852,1.749548e+10
...,...,...,...,...,...,...
2207,NaN,NaN,NaN,NaN,NaN,NaN
2208,NaN,NaN,NaN,NaN,NaN,NaN
2209,NaN,NaN,NaN,NaN,NaN,NaN
2210,NaN,NaN,NaN,NaN,NaN,NaN
2211,NaN,NaN,NaN,NaN,NaN,NaN