# Utkarsh Agarwal

## Research question/interests
My interest in this field  is due to my interest in the field of crypto currency. With not much experience in the field, I intend to learn more through my teammates at the same time learning the necessary data processing skills. I intend to establish a relationship between the pricing trends of two different crypto currencies through the two data sets containing historical data on the same.

In [1]:
import numpy as np
import pandas as pd

In [6]:
pd.read_csv("/Users/utkarshagarwal/DATA301/project/project-group08-project/data/processed/Bitcoin Historical Data cleaned.csv")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Date,Price,Open,High,Low,Vol.,Change %
0,NaN,NaN,NaN,NaN,NaN,"Jul 26, 2021","38,233.20","35,392.30","39,639.90","35,236.70",161.68K,8.03%
1,NaN,NaN,NaN,NaN,NaN,"Jul 25, 2021","35,391.10","34,392.50","35,391.10","33,881.30",65.10K,4.63%
2,NaN,NaN,NaN,NaN,NaN,"Jul 24, 2021","33,824.80","33,600.50","33,955.00","33,412.90",67.14K,0.66%
3,NaN,NaN,NaN,NaN,NaN,"Jul 23, 2021","33,603.30","32,297.90","33,605.60","32,041.10",66.15K,4.04%
4,NaN,NaN,NaN,NaN,NaN,"Jul 22, 2021","32,298.90","32,131.70","32,585.40","31,729.40",64.87K,0.52%
...,...,...,...,...,...,...,...,...,...,...,...,...
4015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN